$themeColor: #015c83;

.themed {
	background: $themeColor;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}
.bg-gray {
	background: #c4c4c4;
}

#schedule-render {
	overflow-x: auto;
}
.render-table {
	border-collapse: collapse;
	min-width: 100%;
	th,
	td {
		min-width: 60px;
		border: 1px solid $themeColor;
	}
}
